<html>
<head>
  {{#if sourceTitle}}
    <title>{{ sourceTitle }} {{ sourceCategory }} Source | Segment</title>
  {{else}}
    <title>{{ title }} {{#isnt landing true}}Documentation - Segment{{/isnt}}</title>
  {{/if}}

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Segment" />
  <meta property="og:title" content="{{title}} {{#isnt landing true}}Documentation - Segment{{/isnt}}" />
  <meta property="og:image" content="https://images.ctfassets.net/9u2t3ap6pctb/4s5A4gsq5NsG9Zeil5BBoL/537f85b510477c440d07b3017e000319/190305_OGimage_Templates_Universal03.png" />

  <meta name="viewport" content="width=1200" />
  {{!-- <meta name="viewport" content="width=device-width, initial-scale=1"> --}}

  <meta name="twitter:site" content="@segment" />
  <meta name="twitter:card" content="summary_large_image" />

  {{#description}}
    <meta name="description" content="{{description}}">
    <meta property="og:description" content="{{description}}" />
  {{else}}
    <meta name="description" content="The technical documentation for Segment.">
    <meta property="og:description" content="The technical documentation for Segment.">
  {{/description}}

  {{#if hidden}}
    <meta name="robots" content="noindex" />
  {{/if}}

  {{#unless hidden}}
    <meta class="swiftype" name="section" data-type="enum" content="Documentation" />
    <meta class="swiftype" name="title" data-type="string" content="{{title}}" />
    <meta class="swiftype" name="priority" data-type="integer" content="2" />
  {{/unless}}

  <link rel="icon" href="https://segment.com/favicon.ico">
  
  {{#if path}}
    <link rel="canonical" href="https://segment.com/docs/{{path}}/" />
  {{else}}
    <link rel="canonical" href="https://segment.com/docs/" />
  {{/if}}


  <meta name="application-name" content="Segment">
  <meta name="theme-color" content="#00386C">

  <link rel="stylesheet" href="/docs/bundle.css">
  <script>
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(n,o);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";

      {{#if collection}}
        window.analytics.page('Docs', {
          section: '{{collection}}',
          topic: '{{title}}'
        });
      {{else}}
        window.analytics.page('Docs');
      {{/if}}
    }}();
  </script>
</head>
<body>
  <header role="banner" class="Site-header">
    <nav role="navigation" class="Navigation">
      <div class="Navigation-left">
        <h1 class="Navigation-item">
          <a href="/" class="Navigation-logo">
            Segment
          </a>
        </h1>
        <a class="Navigation-subtitle" href="/docs/">Docs</a>
      </div>
      <div class="Navigation-middle">
        {{#each collections}}
          {{#isnt @key 'Platforms'}}
            {{#isnt @key 'Legal'}}
              {{#isnt @key 'Home'}}
                <a
                  class="DocsNav-tab {{#is @key ../../../collection}}active{{/is}}"
                  href="/docs/{{this.0.path}}/">{{@key}}</a>
              {{/isnt}}
            {{/isnt}}
          {{/isnt}}
        {{/each}}
      </div>
      <div class="Navigation-right">
        <div class="Navigation-LinkList Navigation-item">
          <a href="/contact/">Contact Support</a>
        </div>
        <a open-sidebar href="#" class="Navigation-Burger Navigation-item"></a>
      </div>
    </nav>
    {{> base-sidebar }}
    <div id="consent-manager"></div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const openSidebarButton = document.querySelector('[open-sidebar]')
        const sidebar = document.querySelector('nav.Sidebar')
        openSidebarButton.addEventListener('click', (e) => {
          e.preventDefault()
          sidebar.toggleAttribute('open')
        })
      });

      Array.from(document.querySelectorAll('.DocsNav-tab')).forEach(tab => {
        tab.onclick = function(e) {
          window.analytics.track('Docs Top Nav Clicked', {
            docs_page_context: window.location.pathname,
            docs_page_click: e.target.href
          })
        }
      })
    </script>
  </header>
